{% extends "personas/layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-5">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('personas.add_persona')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="cedula" placeholder="Ingresar cedula">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="nombres" placeholder="Ingresar nombres">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="apellidos" placeholder="Ingresar apellidos">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="fechaDeNacimiento">
          </div>
          <button class="btn btn-primary btn-block">
            Save 
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Cedula</td>
            <td>Operations</td>
          </tr>
        </thead>
        <tbody>
          {% for contact in personas %}
          <tr>
            <td>{{contact.Rfrnc}}</td>
            <td>{{contact.nombres}}</td>
            <td>{{contact.apellidos}}</td>
            <td>{{contact.cedula}}</td>
            <td>
              <a href="/edit/{{contact.Rfrnc}}" class="btn btn-secondary">edit</a>
              <a href="/delete/{{contact.Rfrnc}}" class="btn btn-danger btn-delete">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}